$brown: #998675;
$gray: #555555;

$big_desktop: 1800px;
$big_desktop_max: 1800px;
$big_desktop1600: 1600px;
$desktop: 1200px;
$laptop: 992px;
$laptop875: 875px;
$tablets: 768px;
$tablets700: 700px;
$tablets574: 574px;
$phones:480px;
$phones390:390px;
$iphone: 320px;
$phones518: 518px;
$desktop1024: 1024px;