.footer-blog {
	width: 100%;
    height: rem(185px); 
    background-color: rgba(28, 31, 41, 0.8);
    @include laptop {
    height: rem(265px); 
    }
    @include tablets {
    height: rem(385px); 
    }
    @include phones {
    height: rem(385px); 
    }
}
.footer-about {
    position: absolute;
	bottom: 0;
	width: 100%;
    height: rem(185px); 
    background-color: rgba(28, 31, 41, 0.8);
    @include laptop {
    height: rem(265px); 
    }
    @include tablets {
    height: rem(385px); 
    }
    @include phones {
    height: rem(385px); 
    }

}

.container-map--contact {
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    height: 70%;
    @include laptop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    }
    @include phones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    }
}
.footer__shorttext {
    width: 30%;
    margin-top: rem(-55px);
     @include big_desktop {
    width: 25%;
    }
    @include laptop {
       width: 90%;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       margin-top: 0px;
       border-bottom: 1px solid gray;
       height: 30%;
    }
    @include tablets {
       width: 90%;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       margin-top: 0px;
       height: 30%;
    }
    @include phones {
       width: 90%;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       margin-top: 0px;
       height: 30%;
    }
}
.shrttext {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: rem(15px);
  font-weight: 200;
  color: rgb(255, 255, 255);
  text-align: left;
    @include big_desktop {
    display: none;
    }
    @include tablets {
       display: none;
    }
    @include phones {
       display: none;
    }
}
.shrttext-style-laptop-phones-text1,
.shrttext-style-laptop-phones-text2 {
    display: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-align: center;
     @include big_desktop {
      display: block;
      text-align: left;

    }
    @include tablets {
       display: block;
    }
    @include phones {
       display: block;
    }
}
.wrp__block-adress--menu {

    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: rem(13px); 
    @include laptop {
    width: 90%;
    height: 70%;
    margin-top: 0px;
    }
    @include tablets {
    width: 90%;
    height: 70%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    @include phones {
    width: 90%;
    height: 70%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }  
}
.wrp-footer--menu-social {
    width: 70%;
    
    border-left: 1px solid gray;
    border-right: 1px solid gray;
     @include big_desktop {
    width: 50%
    }
    @include laptop {
    border: none;
    }
    @include tablets {
    border: none;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    @include phones {
    border: none;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}

.footer-menu {
    margin-left: rem(40px);
     @include laptop {
        margin-left: rem(10px);
        &:first-child {
        margin-left: 0px;
        }
    }
    @include tablets {
        margin-left: rem(10px);
        &:first-child {
        margin-left: 0px;
        }
    }
    @include phones {
        margin-left: rem(10px);
        &:first-child {
        margin-left: 0px;
        }
    }
}
.nav__menu--item {
    display: inline-block;
}
.nav__menu--link {
    text-decoration: none;
    font-family: "robotobold", Arial, Helvetica, sans-serif;;
    color: rgb(255, 255, 255);
    font-size: 16px;
    @include laptop {
     font-size: rem(15px);
    }
 @include phones {
    font-size: rem(13px);
  }
}
.block__footer-social {
    margin-left: rem(25px);
    margin-top: rem(20px);
    @include laptop {
    margin-left: 0px;
    }
    @include tablets {
    margin-left: 0px;
    }
    @include phones {
    margin-left: 0px;
    }
}
.footer-social--item {
     margin-left: rem(20px);
     &:first-child  {
    margin-left: 0px;
    }
    @include laptop {
    &:first-child  {
    margin-left: 0px;
    }
    }
    @include tablets {
    &:first-child  {
      margin-left: 0px;
    }
    }
    @include phones {
    &:first-child  {
        margin-left: 0px;
    }
    }
}
.footer-svg--style {
    fill: #a4a5a9;
    &:hover {
        fill: #0c48c0;
    }
}
.block__footer-address {
    width: 30%;
     @include big_desktop {
    width: 50%;
    }
     @include tablets {
    width: 100%;
    height: 60%;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    @include phones {
    width: 100%;
    height: 60%;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

}
.footer__address-scype,
.footer__address-mail,
.footer__address-phone,
.footer__address-adrs
 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    line-height: 1.55;
    text-align: left;
    margin-left: rem(50px);
    @include desktop {
    margin-left: rem(30px);
    }
     @include laptop {
    
    line-height: 1.75;
    font-size: rem(15px);
    }
    @include tablets {
    text-align: center;
    line-height: 1.75;
    font-size: rem(15px);
    width: 100%;
    margin-left: 0px;
    }
    @include phones {
    text-align: center;
    line-height: 1.75;
    font-size: rem(15px);
    width: 100%;
    margin-left: 0px;
    }
}
.map-description {
    background-color: rgba(8, 60, 150, 0.8);
    width: 100%;
    height: 30%;
    @include tablets {
    height: 20%;
    }
    @include phones {
    height: 20%;
    }
}
.description-name {
    margin: rem(15px) auto;
} 
#map {
	min-height: rem(1100px);
	width: 100%;
    height: 100%;
}
