.popup-container {
   overflow: hidden;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: fixed;
   transition: all ease .5s;
   opacity: 0;
   height: 100%;
   width: 100%;
}
.popup-container-vsbl {
    overflow: visible;
    transition: opacity ease .7s;
    opacity: 1;
    z-index: 200;
     .popup-left,
     .popup-right {
    width: 50%;
    overflow: visible;
    transition: all ease .7s;
     height: 100%;
}

}
.popup-left {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(37, 52, 104, .87);
    transition: all ease .7s;
}
.popup-right {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(37, 52, 104, .87);
    transition: all ease .7s;
}
.popup-menu--wrp {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: rem(450px);
    height: rem(600px);
    text-align: center;
   
    @include tablets {
    width: rem(400px);
    height: rem(550px);
    }
    @include phones {
    width: rem(380px);
    height: rem(500px);
    }
}
.popup-menu--item {
    margin-top: rem(10px);

}
.popup-menu--link {
    font-size: 63px;
    font-family: "SansusWebissimo";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    transition: all ease .5s;
     @include tablets {
    font-size: 53px;
    }
    @include phones {
    font-size: 43px;
    }
}
.popup-menu--link-vsbl {
    opacity: 1;
    transition: all ease 0.5s;
}