section.section-contact#section7.section
    .block-logo
        .logo-fon.grid
        .container.style-height.grid.align-items
            .logo-brend--wrp.grid
                .logo-brend
                    img.logo-brend--img(src='assets/images/logo-brand1.png')
                .logo-brend
                    img.logo-brend--img(src='assets/images/logo-brand2.png')
                .logo-brend
                    img.logo-brend--img(src='assets/images/logo-brand3.png')
                .logo-brend
                    img.logo-brend--img(src='assets/images/logo-brand4.png')

    .block-contact
        .container.style-height.grid
            .contact-item--wrp.grid
                .contact-item
                    .contact-item--logo
                        img.contact-item--logo-img(src="assets/images/logo1.png" alt="Логотип" title="Логотип")
                        img.contact-item--logo-img(src="assets/images/logo2.png" alt="Логотип" title="Логотип")
                    .contact-item--logo-description Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                |Necessitatibus quibusdam dolorum modi repellendus porro temporibus totam libero natus, 
                                                |inventore in minus dolore repellat quae quo, quidem vel rerum voluptate doloremque!
                    a.blog-slider--block-text--link.style-contact-item--link(href="#") Read More

                .contact-item
                    h3.contact-item--title Recent Posts
                    .contact-item--description.style-border 
                        span.span-color-brown.span-dspl-block September 08, 2015
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .contact-item--description.style-border.style-color-brown 
                        span.span-color-white.span-dspl-block September 08, 2015
                        |Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                    .contact-item--description
                        span.span-color-brown.span-dspl-block September 08, 2015
                        |Claritas est etiam processus dynamicus, 
                        |qui sequitur mutationem per seacula quarta decima
                .contact-item
                    h3.contact-item--title Our Twitter
                    .contact-item--description.style-border 
                        a(href="#").link-color-blue.span-pointer @waxom
                        | Cum soluta nobis eleifend option congue nihil imperdiet doming
                        span.span-color-brown.span-dspl-block 3 mins ago
                    .contact-item--description.style-border.style-mt Mirum est 
                        a(href="#").link-color-blue.span-pointer #envato 
                        |notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
                        span.span-color-brown.span-dspl-block 3 mins ago
                    .contact-item--description.style-mt  Soluta nobis option 
                        a(href="#").link-color-gray.span-pointer bit.ly/1Hniso7
                        span.span-color-brown.span-dspl-block 3 mins ago
                .contact-item
                    h3.contact-item--title Dribbble Widget
                    .contact-item-widgets.grid
                        .widgets-item
                            img.widgets-item--img(src="assets/images/widget1.jpg")
                        .widgets-item
                            img.widgets-item--img(src="assets/images/widget2.jpg")
                        .widgets-item
                            img.widgets-item--img(src="assets/images/widget3.jpg")
                        .widgets-item
                            img.widgets-item--img(src="assets/images/widget4.jpg")

    footer.footer
        .container.style-height.grid
            .footer-wrp.grid
                .footer-left.grid
                    ul.footer-left--list.grid
                        li.footer-left--item Copyright © 2015 
                            a(href="#").footer-link Waxom  
                        li.footer-left--item Privacy Policy   
                            
                        li.footer-left--item
                           a(href="#").footer-left--link-active  FAQ
                        li.footer-left--item 
                             a(href="#").footer-link-left Support      
                .footer-right.grid
                    ul.footer-right--list
                        li.footer-right--item Designed by 
                            a(href="#").footer-link ThemeFire  
                        li.footer-right--item Only on  
                            a(href="#").footer-link Envato Market
