section.section-portfolio#section3.section
    .block-pay
        .container.style-flex.style-height.style-width
            .pay-text
                h2.pay-text--title
                        span.pay-text--title-span Waxom 
                        |Multipurpose WordPress Theme 
                .pay-shrt-text Don't Forget to Rate the Template. Thanks so much!
            .pay-button
                .button-case.style-button
                    a.link-btn(href="#") Purchase Now
    .porfolio
        .container.style-height
            .section-block--title.section-title--size
                    h2.section-title Our Latest Projects.
                    .section-text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            include ../common/tabs.pug